<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
    </head>
    <body>
      <header>
        <div>{{nickname}} (id{{id}})</div>
        <a href="userlist">К пользователям</a>
      </header>

      <form action="/" class="newPost" method="post" enctype="multipart/form-data">
        <textarea name="message" placeholder="Введите ваше сообщение"></textarea>
        <input id='file' type="file" name='img' required>
        <input type="submit" value="Отправить">
        {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
        {% endfor %}
      </form>

      <main>
        <h1>Лента</h1>
        {% for m in posts -%}
        <div id='{{m.id}}' class='flex'>
		  {% if id==m.id_user or id == 0 %}
          <form action="/" method="post" class="delit">
            <input type="text" name="del_id" value="{{m.id}}" style="display: none">
            <button type="submit"></button>
          </form>
		  {% endif %}
          <div class="nik">{{m.nickname}}</div>
          <div>
            <div>{{m.message}}</div>
            <img src="static/images/{{m.image}}"></img>
            <div>
              <form action="index.html" method="post">
                <a name='dislike'>{{m.dislikes}}</a>
                <button class='dis' onclick="dis_like(this)" style="background-color:#bac6d2"></button>
              </form>
              <form action="index.html" method="post">
                <a name='like'>{{m.likes}}</a>
                <button class='lik' onclick="dis_like(this)" style="background-color:#bac6d2"></button>
              </form>
              <div class="time">{{m.time}}</div>
            </div>
          </div>
        </div>
        {% endfor -%}
      </main>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    </body>
</html>
