<html>
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/css1.css') }}">
    </head>
    <body>
      <header>
        <a href="./">К ленте</a>
      </header>

      <form action="/userlist" class="newPost" method="post" enctype="multipart/form-data">
        <label>Введите имя пользователя:<input type="text" name="nickname"></label>
        <label>Введите пароль:<input type="text" name="password"></label>
        <button type="submit">Отправить</button>
      </form>

      <main>
        <div onclick="divval(this)">
          <div>000000</div>
          <div>Admin</div>
          <div class="delit"></div>
        </div>
        <div onclick="divval(this)">
          <div>000001</div>
          <div>Vana</div>
          <div class="delit"></div>
        </div>
        <div onclick="divval(this)">
          <div>000002</div>
          <div>Katya</div>
          <div class="delit"></div>
        </div>
        <div onclick="divval(this)">
          <div>000003</div>
          <div>yula</div>
          <div class="delit"></div>
        </div>
      </main>
    </body>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>
