<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My site</title>
        <!-- <link type="text/css" href="style.css" rel="stylesheet"> -->
		<!-- <script src="script.js"></script> -->
    </head>
    <body>
		<form onsubmit="" method="post" name="myform">
			<label>Имя</label>
			<input type="text" name="name">
			<br>
			<label>Фамилия</label>
			<input type="text" name="lastname">
			<br>
			<button type="submit">Отправить</button>
			
		</form>
	</body>
</html>