<html>
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/css1.css') }}">
    </head>
    <body>
      <header>
        <a href="./">К ленте</a>
      </header>

      <form action="/userlist" class="newPost" method="post" enctype="multipart/form-data">
        <label>Введите имя пользователя:<input type="text" name="nickname" required></label>
        <label>Введите пароль:<input type="text" name="password" required></label>
        <button type="submit">Отправить</button>
        {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
        {% endfor %}
      </form>

      <main>
        <h1>Пользователи</h1>
        {% for m in users -%}
        <div onclick="divval(this)">
          <div>{{m.id}}</div>
          <div>{{m.nickname}}</div>
          <div class="delit"></div>
        </div>
        {% endfor -%}
      </main>
    </body>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>
