<html>
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/css1.css') }}">
    </head>
    <body>
      <header>
        <div id='user_id'></div>
        <a href="./">К ленте</a>
      </header>

      <form action="/userlist" class="newPost" method="post" enctype="multipart/form-data">
        <label>Введите имя пользователя:<input type="text" name="nickname" required></label>
        <label>Введите пароль:<input type="text" name="password" required></label>
        <button type="submit">Отправить</button>
        {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
        {% endfor %}
      </form>

      <main>
        <h1>Пользователи</h1>
        {% for m in users -%}
        <div>
          <div>{{m.id}}</div>
          <div>{{m.nickname}}</div>
          <div>
            <form action="/userlist" method="post" enctype="multipart/form-data" class='pass'>
              <input type="text" name="id_user" value="{{m.id}}" style="display: none">
              <label>Введите пароль: <input type="text" name="password_user"></label>
              <button type="submit" class="color">Сменить пользователя</button>
            </form>
          </div>
		  {% if id==m.id or id == 0 %}
          <form action="/userlist" method="post" class="delit">
            <input type="text" name="del_id" value="{{m.id}}" style="display: none">
            <button type="submit"></button>
          </form>
		  {% endif %}
        </div>
        {% endfor -%}
      </main>
    </body>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>
